<!-- ====================================
FLOATING ACTIONS WRAPPER
==================================== -->

<div class="floating-actions-wrapper">

    <!-- ====================================
    MAIN FLOAT BUTTON
    ==================================== -->

    <button class="floating-main-btn">

        <i class="fa-solid fa-bolt"></i>

    </button>

    <!-- ====================================
    ACTIONS MENU
    ==================================== -->

    <div class="floating-actions-menu">

        <!-- ====================================
        ACTION
        ==================================== -->

        <button class="floating-action-item">

            <span>
                Add Application
            </span>

            <div class="floating-action-icon orange-shortcut">

                <i class="fa-solid fa-user-plus"></i>

            </div>

        </button>

        <!-- ====================================
        ACTION
        ==================================== -->

        <button class="floating-action-item">

            <span>
                Payment Logs
            </span>

            <div class="floating-action-icon blue-shortcut">

                <i class="fa-solid fa-credit-card"></i>

            </div>

        </button>

        <!-- ====================================
        ACTION
        ==================================== -->

        <button class="floating-action-item">

            <span>
                Live Support
            </span>

            <div class="floating-action-icon green-shortcut">

                <i class="fa-solid fa-headset"></i>

            </div>

        </button>

        <!-- ====================================
        ACTION
        ==================================== -->

        <button class="floating-action-item">

            <span>
                Notifications
            </span>

            <div class="floating-action-icon red-empty">

                <i class="fa-solid fa-bell"></i>

            </div>

        </button>

    </div>

</div>