 <!-- ========================= -->
    <!-- PREMIUM FOOTER -->
    <!-- ========================= -->

    <footer class="footer">
      <div class="footer-container">
        <!-- BRAND -->

        <div class="footer-card footer-brand">
          <div class="footer-logo">
            <img
              src="./assets/icons/government-building-building-museum-power-svgrepo-com.svg"
              alt=""
            />
          </div>

          <h2>National Skill Portal</h2>

          <p>
            भारत के युवाओं को डिजिटल, तकनीकी एवं रोजगार अवसरों से जोड़ने हेतु
            आधुनिक राष्ट्रीय योजना पोर्टल।
          </p>

          <!-- SOCIAL -->

          <div class="footer-socials">
            <a href="#">
              <img src="./assets/icons/global-svgrepo-com.svg" alt="" />
            </a>

            <a href="#">
              <img src="./assets/icons/facebook-svgrepo-com.svg" alt="" />
            </a>

            <a href="#">
              <img src="./assets/icons/instagram-167-svgrepo-com.svg" alt="" />
            </a>

            <a href="#">
              <img
                src="./assets/icons/youtube-168-svgrepo-com - Copy.svg"
                alt=""
              />
            </a>
          </div>
        </div>

        <!-- QUICK LINKS -->

        <div class="footer-card">
          <h3>Quick Links</h3>

          <a href="./index.html">
            <img src="./assets/icons/arrow-right-svgrepo-com.svg" alt="" />

            Home
          </a>

          <a href="./about.html">
            <img src="./assets/icons/arrow-right-svgrepo-com.svg" alt="" />

            About
          </a>

          <a href="./rules.html">
            <img src="./assets/icons/arrow-right-svgrepo-com.svg" alt="" />

            Rules
          </a>

          <a href="./contact.html">
            <img src="./assets/icons/arrow-right-svgrepo-com.svg" alt="" />

            Contact
          </a>
        </div>

        <!-- PROGRAMS -->

        <div class="footer-card">
          <h3>Government Programs</h3>

          <a href="#competition">
            <img src="./assets/icons/smartphone-2-svgrepo-com.svg" alt="" />

            Free Smartphone Program
          </a>

          <a href="#competition">
            <img src="./assets/icons/sewing-machine-svgrepo-com.svg" alt="" />

            Sewing Machine Scheme
          </a>

          <a href="#competition">
            <img
              src="./assets/icons/skill-level-advanced-svgrepo-com.svg"
              alt=""
            />

            Skill Development
          </a>

          <a href="#competition">
            <img src="./assets/icons/team-svgrepo-com - Copy.svg" alt="" />

            Youth Empowerment
          </a>
        </div>

        <!-- CONTACT -->

        <div class="footer-card">
          <h3>Contact Information</h3>

          <div class="footer-contact">
            <img src="./assets/icons/map-pin-svgrepo-com.svg" alt="" />

            <span> Lucknow, Uttar Pradesh </span>
          </div>

          <div class="footer-contact">
            <img src="./assets/icons/phone-svgrepo-com.svg" alt="" />

            <span> +91 9876543210 </span>
          </div>

          <div class="footer-contact">
            <img src="./assets/icons/mail-open-alt-1-svgrepo-com.svg" alt="" />

            <span> support@nationalskillportal.in </span>
          </div>
        </div>
      </div>

      <!-- FOOTER BOTTOM -->

      <div class="footer-bottom">
        <p>© 2026 National Skill Portal | All Rights Reserved</p>
      </div>
    </footer>